<% layout('layout') -%>

<script>
  $(function() {
    $('#rpnForm').submit(function(event) {

      var form = $(this);
      var url = form.attr('action');
      var query = {
        expression: form.find('input[name=expression]').val()
      };

      $.get(url, query).done(function(data) {
        $('#rpnResult').text(data.result);
        $('#rpnErrors').text(data.status == 'ERROR' ? data.error : 'None');
      });

      event.preventDefault();
    });

    var rpnFormValidation = function() {
      var form = $('#rpnForm');
      var expression = form.find('input[name=expression]');
      var submit = form.find('input[type=submit]');
      if (expression.val()) {
        submit.prop('disabled', false);
      } else {
        submit.prop('disabled', true);
      }
    };

    $('#rpnForm input[name=expression]').on('keyup', rpnFormValidation);

    rpnFormValidation();
  });
</script>

<p>
  <form action="/api/evaluate" id="rpnForm" method="GET">
    <input type="text" name="expression" placeholder="RPN Expression">
    <input type="submit" value="Evaluate">
  </form>

  Result: <span id="rpnResult"></span><br>
  Errors: <span id="rpnErrors"></span><br>
</p>
